header{
    width: 60%;
    text-align: center;
    padding: 20px 0;
    margin: 20px auto;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.typecolor{
    display: flex;
    flex-direction: column;
}

.typecolor h2{
    font-size: 15px;
}

.typecolor div{
    font-size: 15px;
    font-weight: 100;
}

.inputs{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Tones{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 580px;
    margin: 20px auto;
}

.Tones *{
    background-color: #852;
    width: 70px;
    height: 70px;
    margin: 1px;
}
